@import 'partials/_reset';
@import 'partials/_clearfix';
@import './c3.scss';

body{
  background-color: whitesmoke;
  color: white;
}

#output{
  display: flex;
  justify-content: center;
}

.data_holder{
  margin: 10px;
}

#spot_analysis_container{
  width: 100%;
  display: flex;
  justify-content: center;
}

#spot_analysis{
  width: 50%;
}